# --- System ---
.DS_Store
Thumbs.db

# --- Code Editoren ---
.vscode/
*.code-workspace

# --- Build Artefakte (Lokal & Docker) ---
.pio/
build/
install/
log/
__pycache__/

# --- Sensible Daten ---
*.env
ssh_keys/
