services:
  # --- Layer 2: Perception (Lidar, Kamera) ---
  perception:
    build:
      context: ../perception
      dockerfile: Dockerfile
    container_name: amr_perception
    image: amr_perception:latest
    privileged: true
    network_mode: host
    volumes:
      - ../../ros2_ws:/ros2_ws
      - /dev:/dev
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    command: bash -c "source /opt/ros/jazzy/setup.bash && tail -f /dev/null"

  # --- Layer 1: Hardware Bridge (Micro-ROS Agent) ---
  micro_ros:
    image: microros/micro-ros-agent:jazzy
    container_name: amr_micro_ros
    privileged: true
    network_mode: host
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    # WICHTIG: Baudrate 115200 muss zur platformio.ini passen!
    command: serial --dev /dev/ttyACM0 -b 115200
    restart: always
