services:
  perception:
    build:
      context: ../perception
      dockerfile: Dockerfile
    container_name: amr_perception
    image: amr_perception:latest
    privileged: true
    network_mode: host
    volumes:
      - ../../ros2_ws:/ros2_ws
      - /dev:/dev
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    command: bash -c "source /opt/ros/jazzy/setup.bash && tail -f /dev/null"
